html, body, #root {
	height: 100%;
}

.selected {
	border: dotted black 1px;
	border-radius: 0.5em;
}

.container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sidebar-restricted-width {
    display: inline-block;
}

.recipe-form > label {
	display: block;
	margin-bottom: .5em;
}

.recipe-form > label > input {
	display: block;
	margin-top: 0.25em;
}

.recipe-form label label {
	display: block;
	margin-right: .5em;
}

.recipe-form label > label > input {
	width: 68%;
	margin-top: 0.25em;
	margin-left: 0.25em;
}